RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html !-f
RewriteRule ^(content|addon|textura)$ /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond {REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}.html !-f
RewriteRule ^(.*)$ $1/index.html

ErrorDocument 404 /
