@media (max-width: 1200px) {
  body > main {
    width: 80%;
  }
}
@media (max-width: 900px) {
  body > main > a > div.container > div.data > div.meta {
    display: none;
  }
}
@media (max-width: 700px) {
  body > main {
    width: 95%;
    padding: 0.2rem;
  }
}
@media (max-width: 650px) {
  body > main {
    width: 95%;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & a {
      width: 40%;
      & div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        & div.data {
          height: 5rem;
          & div.info {
            display: none;
          }
          & div.meta {
            display: flex;
            & h5.extra, h5.extra.large {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  body > main {
    border-radius: 0;
    width: 100%;
    & a {
      width: 90%;
      & div.container{
        flex-direction: row;
        & div.data > div.meta > h5.extra {
          display: flex;
        }
      }
    }
    & div.header {
      flex-direction: column;
      align-items: center;
      & div.data, div.data > div.meta {
          align-items: center;
      }
    }
  }
}
@media (max-width: 400px){
  body > main {
    & a {
      width: 90%;
      & div.container{
        flex-direction: column;
      }
    }
    & div.header {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 300px) {
  body > main > div.header > div.data > div.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 250px) {
  body > main > a > div.container > div.data {
    display: none;
  }
}
@media (max-width: 180px) {
  body > main > a > div.container > img {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 160px) {
  body > main > a > div.container > img {
    height: 6rem;
    width: 6rem;
  }
}
@media (max-width: 140px) {
  body > main > a > div.container > img {
    height: 5rem;
    width: 5rem;
  }
}
