.hide {
  display: none;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  > div#root {
    height: 82.5%;
    width: 56.5%;
    z-index: 2;
    margin: 0 auto;
    > nav {
      z-index: 3;
      display: flex;
      height: 4.5rem;
      > a {
        text-decoration: none;
      }
    }
    > div#list {
      top: -9px;
      display: flex;
      height: calc(calc(100% - var(--bl)) - 6.5rem);
      text-align: center;
      overflow-y: scroll;
      overflow-x: hidden;
      scroll-behavior: smooth;
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      > #search {
        width: calc(100% - 9px);
        margin-bottom: 20px;
      }
      > .container {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        animation-name: fadeInItem;
        animation-duration: 0.2s;
        > img {
          width: 5rem;
          height: 5rem;
        }
        > .data {
          height: 5rem;
          width: calc(100% - calc(5rem + 6px));
          right: 0;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          > .info {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
          }
          > .date {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
          }
        }
        &.hide {
          display: none;
          animation-name: fadeOutItem;
        }
      }
    }
  }
  > div#start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
    > a {
      width: 30%;
      margin: 3px;
      height: calc(100% / 12);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.hide {
      display: none;
    }
  }
  > div#content {
    height: 100%;
    width: 100%;
    background-color: #585659;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    animation-name: fadeInContainer;
    animation-duration: 500ms;
    overflow: hidden;

    & .data-info {
      left: 0;
      right: 0;
      top: calc(calc(0.69rem * 2) + 1.5rem + 1rem + 12px);
      bottom: 2.59rem;
      position: absolute;
      display: flex;
      justify-content: space-between;
    }
    &.hide {
      animation-name: fadeOutContainer;
    }
  }
}

@keyframes fadeOutContainer {
  from {
    transform: translate(0, 0);
    display: block;
  }
  to {
    transform: translate(100%, 0);
  }
}
@keyframes fadeInContainer {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
